@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?e2mady");
  src: url("../fonts/icomoon.eot?e2mady#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?e2mady") format("truetype"), url("../fonts/icomoon.woff?e2mady") format("woff"), url("../fonts/icomoon.svg?e2mady#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e800";
}

.icon-basket:before {
  content: "\e801";
}

.icon-truck:before {
  content: "\e802";
}

.icon-user:before {
  content: "\e803";
}

.icon-thumbs-up:before {
  content: "\e804";
}

.icon-paste:before {
  content: "\f0ea";
}

.icon-thumbs-up-alt:before {
  content: "\f164";
}

.icon-cubes:before {
  content: "\f1b3";
}

body {
  color: #333333;
}

a {
  color: #20a837;
}

a:active {
  color: #20a837;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

input, select, textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  width: 100%;
}

input {
  border: 0 !important;
  margin-bottom: 0 !important;
}

select {
  margin-bottom: 0 !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.tabbarPadding {
  padding-bottom: 50px;
}

.tabbarMargin {
  margin-bottom: 50px;
}

.logoBox {
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.logoBox img {
  display: block;
  width: 122px;
}

.regionBox {
  position: relative;
}

.regionBox select.region {
  width: auto;
  margin: 0;
  padding-right: 28px;
  line-height: 24px;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.regionBox .mui-icon-arrowdown {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  color: #20a837;
}

.mui-bar-nav {
  background-color: #fff;
}

.mui-bar-nav .regionIcon {
  font-size: 16px;
  line-height: 24px;
  padding-right: 3px !important;
}

.mui-bar-nav .mui-btn-link {
  color: #20a837;
}

.mui-bar-nav .button {
  color: #fff;
  line-height: 34px;
  padding: 0 15px;
  margin-top: 5px;
  margin-right: 0;
}

.searchBox input[type="search"] {
  margin-bottom: 0;
  text-align: left;
  padding-left: 30px;
}

.searchBox .mui-icon-search {
  position: absolute;
  top: 5px;
  left: 5px;
}

.mui-slider-indicator .mui-indicator {
  box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #fff;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.mui-slider-indicator .mui-active.mui-indicator {
  background-color: #20a837;
}

.mui-bar-tab .mui-tab-item.mui-active {
  color: #20a837;
}

.title {
  margin: 10px 15px;
  font-size: 15px;
}

.title .mui-icon {
  color: #20a837;
  font-size: 18px;
  margin-right: 5px;
}

.mui-table-view .mui-media-object {
  max-width: 68px;
  height: 68px;
  line-height: 680px;
}

.mui-ellipsis {
  margin-right: 110px;
}

.mui-ellipsis b {
  font-weight: normal;
}

.mui-ellipsis b.price {
  color: #20a837;
  margin-right: 10px;
}

.mui-ellipsis b.lineThrough {
  text-decoration: line-through;
}

.mui-page .mui-ellipsis {
  margin-right: 0;
}

.mui-table-view-cell .mui-numbox {
  position: absolute;
  right: 15px;
  bottom: 18px;
  padding: 0 30px;
  width: 100px;
  height: 34px;
}

.mui-slider-handle .mui-numbox {
  right: 0;
  bottom: 0;
}

.mui-numbox [class*=btn-numbox],
.mui-numbox [class*=numbox-btn] {
  width: 30px;
}

.mui-off-canvas-wrap .mui-bar {
  -webkit-box-shadow: 0 1px 6px #ccc;
  box-shadow: 0 1px 6px #ccc;
}

.productList {
  padding-bottom: 50px;
}

.cartBar {
  bottom: 50px;
}

.button {
  display: block;
  background: #20a837;
  color: #fff;
  padding: 8px 15px;
  margin-right: 6px;
  border-radius: 5px;
}

.button:active {
  color: #fff;
  background: #1b8f2f;
}

.mui-tab-item.mui-active .button {
  background: #1b8f2f;
}

.mui-tab-item.total {
  font-weight: bold;
  color: #20a837;
}

.orderList {
  background: none;
}

.orderList:after, .orderList:before {
  display: none;
}

.orderGroup {
  margin-bottom: 15px;
  background: #fff;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
}

.orderGroup .mui-table-view-cell:after {
  display: none;
}

.orderTop {
  padding: 10px 15px;
  border-bottom: 1px solid #c8c7cc;
}

.orderTop p,
.orderTop span {
  font-size: 14px;
}

.orderTop p {
  display: inline-block;
  margin-bottom: 0;
}

.orderTop span.finish {
  color: #20a837 !important;
}

.orderBottom {
  padding: 10px 15px;
  border-top: 1px solid #c8c7cc;
}

.orderBottom p {
  display: inline-block;
  margin-bottom: 0;
}

.orderButton {
  font-size: 14px;
  color: #fff;
  background-color: #20a837;
  padding: 5px 10px;
  border-radius: 5px;
}

.orderButton:active {
  color: #fff;
  background: #1b8f2f;
}

.imgBox img {
  display: block;
  max-width: 100%;
  height: auto;
}

.infoBox {
  margin-bottom: 15px;
}

.infoBox .title {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.infoBox .price {
  color: #20a837;
  font-weight: bold;
}

.infoBox .lineThrough {
  text-decoration: line-through;
  margin-right: 0;
  font-weight: normal;
}

.numberBox .mui-numbox {
  position: absolute;
  right: 15px;
  top: 4px;
}

.contentBox p {
  margin-bottom: 15px;
}

.contentBox img {
  display: block;
  max-width: 100%;
  height: auto;
}

.activityBox {
  position: relative;
  margin-bottom: 20px;
  border-color: #fff;
}

.activityBox img {
  display: block;
  width: 100%;
}

.activityBox:after {
  position: absolute;
  right: -10px;
  bottom: -10px;
  left: -10px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}

.mui-page .mui-table-view.modelList {
  margin-top: 10px;
}

.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
  color: #20a837;
}

.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {
  top: 6px;
  right: 15px;
}

.titleBox {
  margin-bottom: -5px;
  padding: 30px 10px 0;
}

.titleBox .title {
  margin: 0;
  font-weight: normal;
  color: #777777;
}

.titleBox .title i {
  font-style: normal;
  color: #777777;
}

.titleBox .title em {
  color: #20a837;
}

.formBox .titleBox .title {
  color: #777777;
}

.formBox .titleBox .title i {
  color: #777777;
}

ul.infoList li {
  margin: 15px 0;
  background-color: #fff;
  border-top: 1px solid #dddddd;
}

ul.infoList a {
  color: #333333;
}

ul.infoList .row {
  padding: 10px;
  min-height: 44px;
  position: relative;
  border-bottom: 1px solid #dddddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  justify-content: space-between;
}

ul.infoList .row h5 {
  color: #333333;
}

ul.infoList .row p {
  color: #333333;
}

ul.infoList .row p.gray {
  color: #777777;
}

ul.infoList .row p em {
  color: #20a837;
}

ul.infoList .row p em.big {
  font-size: 20px;
}

ul.infoList .row p.title {
  font-weight: bold;
}

ul.infoList .row p.long {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  text-align: right;
}

ul.infoList .row p:first-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 10px;
  min-width: 80px;
}

ul.infoList .row a.btn {
  height: auto;
  margin-top: -10px;
  margin-bottom: -10px;
  padding: 0 10px;
  white-space: nowrap;
  color: #777777;
  border-left: 1px solid #dddddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

ul.infoList .row a.btn:active {
  background-color: #efeff4;
}

ul.infoList .row a.btn:last-child {
  margin-right: -10px;
}

ul.infoList .row a.btn.leftBtn {
  margin-left: -10px;
  border-left: none;
  color: #777777;
}

ul.infoList .row a.btn [class*="icon-"] {
  margin-right: 5px;
  font-size: 18px;
}

ul.infoList .row.imageText {
  display: block;
  padding: 10px;
}

ul.infoList .row.imageText:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

ul.infoList .row.imageText.link {
  padding: 0;
}

ul.infoList .row.imageText.link a {
  display: block;
  padding: 10px;
  color: #333333;
}

ul.infoList .row.imageText.link a:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

ul.infoList .row.imageText.link a:active {
  background-color: #efeff4;
}

ul.infoList .row.baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

ul.infoList .row .image {
  float: left;
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

ul.infoList .row .image img {
  display: block;
  width: 75px;
  height: 75px;
}

ul.infoList .row .text {
  margin-left: 85px;
}

ul.infoList .row .text .title {
  margin: 4px 0;
}

ul.infoList .row .text p {
  font-size: 14px;
  margin: 3px 0;
}

ul.infoList .row .tag [class^="icon-"] {
  margin-right: 5px;
  font-size: 18px;
}

ul.infoList .row .tag.important {
  color: #20a837;
}

ul.infoList .row .tag.success {
  color: #00fa0d;
}

ul.infoList .row .tag.warning {
  color: #fa2b00;
}

ul.infoList .row .tag.default {
  color: #333333;
}

ul.infoList .multiRow {
  display: block;
}

ul.infoList .multiRow .title {
  margin-bottom: 5px;
}

ul.infoList .multiRow .row {
  padding: 0;
  border-bottom: none;
}

ul.infoList .gray {
  color: #777777;
}

ul.infoList .small {
  font-size: 14px;
  line-height: 1.6;
}

ul.infoList .oneline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul.infoList ~ .titleBox {
  margin-top: -15px;
}

ul.formList {
  margin: 15px 0;
  border-top: 1px solid #dddddd;
  background-color: #fff;
}

ul.formList li {
  position: relative;
  border-bottom: 1px solid #dddddd;
}

ul.formList .group {
  min-height: 24px;
  position: relative;
  padding: 10px 0 10px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

ul.formList label.title {
  margin: 0;
  color: #333333;
}

ul.formList label.title i {
  font-style: normal;
  margin-left: 5px;
  color: #777777;
}

ul.formList label.title span.tag {
  display: inline-block;
  padding: 0 8px;
  margin-left: 5px;
  font-size: 14px;
  color: #fff;
  background-color: #20a837;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

ul.formList label.title [class^="icon-"] {
  margin-right: 10px;
  font-size: 24px;
  vertical-align: middle;
}

ul.formList p.title {
  margin-right: 10px;
  font-weight: bold;
  color: #333333;
}

ul.formList .input {
  position: relative;
  margin-top: -10px;
  margin-bottom: -10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

ul.formList .input input {
  text-align: right;
  padding-right: 15px;
  height: 44px;
  color: #333333;
}

ul.formList .input input::-webkit-input-placeholder {
  color: #777777;
}

ul.formList .input input[type="date"] {
  direction: rtl;
  padding-right: 35px;
}

ul.formList .input select {
  height: 44px;
  padding-right: 35px;
  direction: rtl;
  color: #333333;
}

ul.formList .input select option[disabled] {
  display: none;
}

ul.formList .textarea {
  padding: 10px;
}

ul.formList .textarea textarea {
  width: 100%;
  color: #333333;
}

ul.formList .iCheckBox p {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #777777;
}

ul.formList .iCheckBox:active {
  background-color: #efeff4;
}

ul.formList .iCheckBox .iRadio {
  margin-right: 10px;
}

ul.formList .switcheryBox .title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

ul.formList .switcheryBox .switchery {
  margin-right: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

ul.formList p.text {
  text-align: right;
  padding-right: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #333333;
}

ul.formList p.text .tag {
  display: inline-block;
  font-size: 14px;
  color: #1b1b1b;
  padding: 2px 8px;
  background-color: #20a837;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

ul.formList a.link {
  display: block;
  color: #333333;
}

ul.formList a.link:active .group {
  background-color: #efeff4;
}

ul.formList a.btn {
  height: auto;
  margin-top: -10px;
  margin-bottom: -10px;
  padding: 0 10px;
  white-space: nowrap;
  color: #777777;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid #dddddd;
}

ul.formList a.btn:active {
  background-color: #efeff4;
}

ul.formList a.btn [class*="icon-"] {
  margin-right: 5px;
  font-size: 18px;
}

ul.formList .high {
  display: block;
}

ul.formList .high .title {
  display: block;
  margin-left: 0;
  margin-bottom: 10px;
  line-height: 1.4;
}

ul.formList .high p {
  line-height: 1.4;
}

ul.formList .imageText {
  display: block;
  padding: 10px;
}

ul.formList .imageText:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

ul.formList .imageText.link {
  padding: 0;
}

ul.formList .imageText.link a {
  display: block;
  padding: 10px;
}

ul.formList .imageText.link a:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

ul.formList .imageText.link a:active {
  background-color: #efeff4;
}

ul.formList .imageText .image {
  float: left;
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

ul.formList .imageText .image img {
  display: block;
  width: 75px;
  height: 75px;
}

ul.formList .imageText .text {
  margin-left: 85px;
}

ul.formList .imageText .text .title {
  margin: 4px 0;
  color: #777777;
}

ul.formList .imageText .text p {
  font-size: 14px;
  margin: 3px 0;
}

ul.formList .cartCheck {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 14px;
  padding-left: 0;
}

ul.formList .cartCheck .checkLabel {
  margin-top: -10px;
  margin-bottom: -10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #777777;
  border-left: 1px solid #dddddd;
}

ul.formList .cartCheck .checkLabel:active {
  background-color: #efeff4;
}

ul.formList .cartCheck .iCheck {
  margin: 10px;
}

ul.formList .cartCheck:active {
  background-color: transparent;
}

ul.formList .cartCheck p {
  margin: 0 10px;
  line-height: 24px;
}

ul.formList .cartCheck a.btn {
  border-left: none;
  border-right: 1px solid #dddddd;
}

ul.formList .ranking {
  height: 60px;
}

ul.formList .ranking .column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

ul.formList .ranking .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 35px;
}

ul.formList .ranking .row p:first-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

ul.formList em {
  color: #20a837;
}

ul.formList em.big {
  font-size: 20px;
}

ul.formList .baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

ul.formList .oneline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul.formList .gray {
  color: #777777;
}

ul.formList .small {
  font-size: 14px;
}

ul.formList .icon-arrow-right:before {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  color: #20a837;
}

ul.formList .icon-arrow-right.high,
ul.formList .icon-arrow-right .text {
  padding-right: 35px;
}

ul.formList ~ .titleBox {
  margin-top: -15px;
}

.buttonBox {
  margin-top: 25px;
  padding: 0 5px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.buttonBox a,
.buttonBox button,
.buttonBox input {
  line-height: 30px;
  margin: 0 5px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-color: #20a837;
  font-size: 18px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.buttonBox a:active,
.buttonBox button:active,
.buttonBox input:active {
  background-color: #187d29;
}

.buttonBox a.gray,
.buttonBox button.gray,
.buttonBox input.gray {
  color: #333333;
  background-color: #dddddd;
}

.buttonBox a.gray:active,
.buttonBox button.gray:active,
.buttonBox input.gray:active {
  background-color: #d0d0d0;
}

.buttonBox.small {
  display: block;
  margin-top: 15px;
  text-align: right;
  padding: 0 10px 15px;
}

.buttonBox.small a,
.buttonBox.small button,
.buttonBox.small input {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 16px;
  padding: 0 25px;
  line-height: 35px;
}

.switcheryBox {
  padding-right: 15px !important;
}

.mui-switch.mui-active {
  border-color: #20a837;
  background-color: #20a837;
}

.mui-views,
.mui-view,
.mui-pages,
.mui-page,
.mui-page-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #efeff4;
}

.mui-pages {
  top: 46px;
  height: auto;
}

.mui-page.mui-transitioning {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
}

.mui-page-left {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mui-ios .mui-page-left {
  -webkit-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
}

.mui-navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 44px;
  background-color: #fff;
}

.mui-navbar .mui-bar {
  position: absolute;
  background: transparent;
  text-align: center;
}

.mui-android .mui-navbar-inner.mui-navbar-left {
  opacity: 0;
}

.mui-ios .mui-navbar-left .mui-left,
.mui-ios .mui-navbar-left .mui-center,
.mui-ios .mui-navbar-left .mui-right {
  opacity: 0;
}

.mui-navbar .mui-btn-nav {
  -webkit-transition: none;
  transition: none;
  -webkit-transition-duration: .0s;
  transition-duration: .0s;
}

.mui-navbar .mui-bar .mui-title {
  display: inline-block;
  width: auto;
}

.mui-page-shadow {
  position: absolute;
  right: 100%;
  top: 0;
  width: 16px;
  height: 100%;
  z-index: -1;
  content: '';
}

.mui-page-shadow {
  background: -webkit-linear-gradient(left, transparent 0, transparent 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to right, transparent 0, transparent 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%);
}

.mui-navbar-inner.mui-transitioning,
.mui-navbar-inner .mui-transitioning {
  -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 300ms ease, transform 300ms ease;
}

.mui-page {
  display: none;
}

.mui-pages .mui-page {
  display: block;
}

.mui-page .mui-table-view:first-child {
  margin-top: 15px;
}

.mui-page .mui-table-view:last-child {
  margin-bottom: 30px;
}

.mui-page .mui-table-view {
  margin-top: 20px;
}

.mui-table-view span.mui-pull-right {
  color: #999;
}

.mui-table-view-divider {
  background-color: #efeff4;
  font-size: 14px;
}

.mui-table-view-divider:before,
.mui-table-view-divider:after {
  height: 0;
}

.head {
  height: 40px;
}

#head {
  line-height: 40px;
}

.head-img {
  width: 62px !important;
  height: 62px !important;
}

.update {
  font-style: normal;
  color: #999999;
  margin-right: -25px;
  font-size: 15px;
}

.mui-fullscreen {
  position: fixed;
  z-index: 20;
  background-color: #fff;
}
